* {
  margin: 0;
  padding: 0;
}

#clock {
  background: rgb(50,50,50);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

#canvas {
  background: rgb(50,50,50);
  margin: 0 auto;
}
